@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: white;
    height: 100vh;
}

.heading {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.button_white {
    height: 60px;
    width: 70px;
    background-color: #e0e0e0;
    border-style: solid;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 12px;
}

.button_green {
    height: 60px;
    width: 70px;
    background-color: #6fcf97;
    border-style: solid;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 12px;
}

.button_blue {
    height: 60px;
    width: 70px;
    background-color: #56ccf2;
    border-style: solid;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 12px;
}

.button_voilet {
    height: 60px;
    width: 70px;
    background-color: #bb6bd9;
    border-style: solid;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 12px;
}

.paragraph {
    background-color: #222222;
    padding: 5px;
    color: white;
    font-family: "Roboto";
    font-weight: 600;
    border-radius: 10px;
}

.paragraph1 {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
}

.color {
    color: #49a6e9;
}